@media (min-width: 780px) {

    header {
        background-color: var(--primary);
        display: grid;
        grid-template-columns: 44px auto auto;

        align-items: center;
    }

    .navigation {
        grid-column: 3 / 4;
        display: flex;
        flex-direction: row;
        opacity: 1;
        max-height: 65px;
    }

    .navigation a {
        padding-inline: 0rem;
    }

    #menu {
        display: none;
    }

    footer {
        flex-direction: row;
    }

}