:root {
    --primary: #779BE7;
    --primary-transparency: rgba(119, 155, 231, 0.5);
    --secondary: #CE7B91;
    --background: #FCFFFC;
    --text: #020122;

    --heading-font: Roboto, Sans-serif;
    --paragraph-font: Roboto Mono, monospace;

    --radius: 10px
}


section {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    padding: 5px;
}

.couses-filters button {
    padding: 10px;
    margin: 10px;
    border-radius: var(--radius);
    background-color: var(--primary);
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-content: center;
}

.grid section {
    padding: 1rem;
    background-color: var(--primary-transparency);
    border-radius: var(--radius);
    align-items: center;
}

.grid img {
    max-width: 150px;
    height: auto;
}


.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    text-align: start;
}

.list section:nth-child(even) {
    background-color: var(--primary-transparency);
}

.list h2 {
    font-size: 1rem;
}

section p {
    font-size: smaller;
    padding: 0 1rem;
}


.list img {
    display: none;
}