:root {
    --primary: #779BE7;
    --secondary: #CE7B91;
    --background: #FCFFFC;
    --text: #020122;

    --heading-font: Roboto, Sans-serif;
    --paragraph-font: Roboto Mono, monospace;

    --radius: 10px
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.couses-filters button {
    padding: 10px;
    margin: 10px;
    border-radius: var(--radius);
    background-color: var(--primary);
}

.grid{
    background-color: green;
}

.list{
    background-color: pink;
}

