:root {
    --primary: #779BE7;
    --secondary: #CE7B91;
    --background: #FCFFFC;
    --text: #020122;

    --heading-font: Roboto, Sans-serif;
    --paragraph-font: Roboto Mono, monospace;

    --radius: 10px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    background-color: var(--background);
    color: var(--text);
    line-height: 1.6;
}