:root {
    --primary: #0077B6;
    --accent: #00B4D8;
    --secondary-text: #90E0EF;
    --secondary-background: #a2d2ff;
    --background: #CAF0F8;
    --typeface: #03045E;

    --radius: 10px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary);
    animation: header-backgrond-color 2s ease-in-out;
    text-align: center;

}

@keyframes header-backgrond-color {
    0% {
        background-color: var(--background);
    }

    50% {
        background-color: var(--secondary-background);
    }

    100% {
        background-color: var(--primary);
    }

}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title img {
    margin: 10px;
    border-radius: var(--radius);
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--nav-color);
    position: absolute;
    top: .5rem;
    right: 1.5rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.active::after {
    content: "⚡";
}

.navigation {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: var(--secondary-background);
}

.navigation a {
    padding: 1rem 1rem;
    color: var(--typeface);
    font-size: larger;
    text-decoration: none;
    text-align: center;
    display: none;
    flex-grow: 1;
}

.navigation a:hover {
    background-color: var(--primary);
    text-decoration: underline;
    font-weight: 700;

}

.open a {
    display: block;
}

body {
    font-family: Roboto Mono, monospace;
    background-color: var(--background);
    color: var(--typeface);
    line-height: 1.6;

}

main {
    margin: auto;
    max-width: 800px;
    padding: 15px;

    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

h2 {
    background-color: var(--accent);
    text-align: center;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

section {
    border-radius: var(--radius);
    border: 2px solid #000;
}

ul {
    margin: 25px 0 25px 50px;
}

figure {
    margin: 10px 15px;
    text-align: center;
}

.figure img {
    max-width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
}



.couses-filters {
    display: flex;
    gap: 25px;
    margin: 15px 10px;
}

.couses-filters button {
    background-color: var(--secondary-background);
    flex: 1;
    padding: 10px;
    border-radius: var(--radius);
}

.credits {
    text-align: center;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 15px 10px;

}

.course-card {
    flex: 1 1;
    min-width: 250px;
    box-sizing: border-box;
    text-align: center;

    color: #FFF;
    background-color: var(--primary);
    padding: 10px;
    border-radius: var(--radius);

}

.course-completed {
    background-color: var(--accent);
    color: var(--typeface);
}

.course-completed::after {
    content: "✅";
}

dialog {
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
    margin: auto;
}

::backdrop {
    background-color: rgb(0 0 0 / 0.5);
}

dialog button {
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
}

footer {
    text-align: center;
    background-color: var(--primary);
    padding: 10px;
    color: #FFF;
}